<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.houno.hotel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_180x180"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".home.activity.RoomStateListActivity" />
        <activity
            android:name=".ui.activity.EditPassWordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.activity.GuestRoomActivity" />
        <activity android:name=".ui.activity.RoomStateList2Activity" />
        <activity android:name=".ui.activity.PersonalCleanDocActivity" />
        <activity android:name=".ui.activity.SearchBillsActivity" />
        <activity android:name=".ui.activity.SearchRoomStateEditActivity" />
        <activity android:name=".ui.activity.DatePickerActivity" />
        <!-- 预订模块 -->
        <activity android:name=".home.activity.BookActivity" />
        <activity android:name=".ui.activity.SearchRoomNumberActivity" />
        <activity android:name=".home.activity.BookQueryActivity" />
        <activity android:name=".home.activity.QueryConditionsActivity" />
        <activity
            android:name=".home.activity.NewOrderActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".home.activity.GetPersonalInfoActivity" />
        <activity android:name=".home.activity.OrderListActivity" />
        <activity android:name=".home.activity.QueryOrderActivity" />
        <activity android:name=".home.activity.OrderDetailActivity" />
        <activity android:name=".ui.activity.SearchAllotRoomActivity" />
        <activity android:name=".ui.activity.AllotRoomListActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".home.activity.OpreationContitionActivity" />
        <activity android:name=".home.activity.InfoManagerActivity"></activity>
    </application>

</manifest>